# --- Rails defaults ---

/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets

/config/master.key

/app/assets/builds/*
!/app/assets/builds/.keep

# --- Environment variables ---

.env
.env*

# --- Node ---

node_modules/

# --- Python / external env ---

venv-ledger/

# --- Misc ---

.DS_Store